@use '../../styles/variables' as v;
@use '../../styles/mixins' as m;

.header {
  padding: 0 1rem;
  position: sticky;
  top: 0;
  border-bottom: 1px solid v.$lightGrey;
  background-color: white;
  z-index: 10;

  &__content {
    margin: 0 auto;
    max-width: 60rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 1rem;
  }

  &__logo {
    font-family: v.$logoFontFamily;
    font-size: 2rem;
    font-weight: bold;
    a {
      text-decoration: none;

      &:visited {
        color: inherit;
      }
    }
  }

  &__search {
    display: none;
  }

  @include m.breakpoint-up(desktop) {
    &__search {
      display: block;
    }
  }
}
