@use '../../styles/variables';

.header {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 10;
  justify-content: space-between;
  align-items: center;
  column-gap: 1rem;
  padding: 0 1rem;
  border-bottom: 1px solid variables.$lightGrey;
  background-color: white;

  &__logo {
    font-family: variables.$logoFontFamily;
    font-size: 2rem;
    font-weight: bold;
    a {
      text-decoration: none;

      &:visited {
        color: inherit;
      }
    }
  }
}
