@use '../../styles/variables';

.commentInput {
  display: flex;
  align-items: center;
  font-size: 0.9rem;

  &__inputText {
    width: 100%;
    border: 0;

    &:focus {
      outline: none;
    }
  }

  &__submitBtn {
    border: 0;
    background-color: transparent;
    color: variables.$blue;
    font-weight: bold;

    &:hover {
      cursor: pointer;
    }

    &:active {
      opacity: 0.5;
    }

    &:disabled {
      cursor: default;
      opacity: 0.3;
    }
  }
}
