@use '../../styles/variables' as v;

.editPost {
  width: min(calc(100vw - 2rem), 47.56rem);

  display: flex;
  flex-direction: column;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 1rem;
    padding: 0.5rem;
    border-bottom: 1px solid v.$lightGrey;
    font-weight: 600;
  }

  &__title {
    margin: 0 auto;
  }

  &__submitBtn {
    border: 0;
    background-color: transparent;
    color: v.$blue;

    &:hover {
      cursor: pointer;
    }

    &:disabled {
      cursor: default;
      opacity: 0.5;
    }
  }

  &__cancelBtn {
    background-color: transparent;
    border: 0;
    font-weight: normal;
    &:hover {
      cursor: pointer;
    }
  }

  &__body {
    display: flex;
    overflow: hidden;
  }

  &__image {
    flex: 2;

    img {
      object-fit: cover;
      width: 100%;
      max-height: 80vh;
    }
  }

  &__fields {
    flex: 1;
  }

  &__user {
    display: flex;
    gap: 0.5rem;
    padding: 1rem 1rem 0.5rem 1rem;
  }

  &__username {
    font-weight: 600;
  }

  &__userLogo {
    color: v.$lightGrey;
    font-size: 1.5rem;
  }

  &__caption {
    width: 100%;
    min-height: 10rem;
    padding: 0 1rem 0 1rem;
    border: 0;
  }
}
