@use '../../styles/variables' as v;
@use '../../styles/mixins' as m;

.postExcerpt {
  $padding: 0.75rem;

  font-size: 0.9rem;
  border: 1px solid v.$lightGrey;
  border-radius: 10px;
  background-color: white;

  a:link,
  a:visited {
    color: inherit;
  }

  &__header {
    padding: $padding $padding 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__author {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    text-decoration: none;

    &__icon {
      font-size: 2rem;
      color: v.$lightGrey;
    }

    &__username {
      font-weight: 600;
    }

    &:visited {
      color: black;
    }
  }

  &__image {
    img {
      object-fit: cover;
      width: 100%;
    }
  }

  &__commentBtn {
    color: black;
    &:visited {
      color: black;
    }
    &:hover {
      cursor: pointer;
      opacity: 0.5;
    }
  }

  &__optionsBtn {
    border: 0;
    background-color: transparent;

    &:hover {
      cursor: pointer;
    }
  }

  &__menu {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    font-size: 1.5rem;
  }

  &__footer {
    padding: 0 $padding $padding;
    display: flex;
    flex-direction: column;
  }

  &__likes {
    font-weight: bold;
  }

  &__username {
    text-decoration: none;
    font-weight: bold;

    &:visited {
      color: black;
    }
  }

  &__comments {
    a {
      color: v.$grey;
      &:visited {
        color: v.$grey;
      }
    }
  }

  &__timeDistance {
    font-size: 0.625rem;
    text-transform: uppercase;
    a {
      color: v.$grey;
      &:visited {
        color: v.$grey;
      }
    }
  }

  &__commentInput {
    margin-top: auto;
    padding: $padding;
    border-top: 1px solid v.$lightGrey;
  }

  a:active {
    opacity: 0.5;
  }
}
