@use '../../styles/variables' as v;
@use '../../styles/mixins' as m;

.options {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 16.25rem;
  &__option {
    width: 100%;
    font-size: 0.875rem;
    border-top: 1px solid v.$lightGrey;
    &:first-child {
      border-top: none;
    }

    button {
      width: 100%;
      padding: 0.9rem 0;
      border: 0;
      color: inherit;
      background: transparent;
      &:hover {
        cursor: pointer;
      }
      &:active {
        background-color: v.$lightGrey;
      }
    }

    &--red {
      color: v.$red;
      font-weight: bold;
    }
  }

  @include m.breakpoint-up(desktop) {
    min-width: 27rem;
  }
}
