@use '../../styles/variables';
@use '../../styles/mixins';

.postItem {
  border: 1px solid variables.$lightGrey;
  border-radius: 10px;
  background-color: white;

  &__header {
    margin: variables.$postMargin;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__username {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
  }

  &__image {
    img {
      object-fit: cover;
      width: 100%;
    }
  }

  &__likeBtn {
    padding: 0;
    border: 0;
    background-color: transparent;
    &:hover {
      cursor: pointer;
      opacity: 0.5;
    }
  }

  &__commentBtn {
    color: black;
    &:visited {
      color: black;
    }
    &:hover {
      cursor: pointer;
      opacity: 0.5;
    }
  }

  &__optionsBtn {
    border: 0;
    background-color: transparent;

    &:hover {
      cursor: pointer;
    }
  }

  &__menu {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    font-size: 1.5rem;
  }

  &__footer {
    margin: variables.$postMargin;
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
  }
  &__likes {
    font-weight: bold;
  }
  &__comments {
    color: variables.$grey;
    a {
      text-decoration: none;
      &:visited {
        color: inherit;
      }
      &:active {
        opacity: 0.5;
      }
    }
  }

  &__timeDistance {
    font-size: 0.625rem;
    text-transform: uppercase;

    a {
      text-decoration: none;
      color: variables.$grey;
      &:visited {
        color: variables.$grey;
      }
      &:active {
        opacity: 0.5;
      }
    }
  }

  &__commentInput {
    border-top: 1px solid variables.$lightGrey;
  }

  &__commentForm {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    font-size: 0.9rem;

    input[type='text'] {
      width: 100%;
      border: 0;

      &:focus {
        outline: none;
      }
    }

    button[type='submit'] {
      border: 0;
      background-color: transparent;
      color: variables.$blue;
      font-weight: bold;

      &:hover {
        cursor: pointer;
      }

      &:disabled {
        cursor: default;
        opacity: 0.5;
      }
    }
  }

  @include mixins.breakpoint-up(desktop) {
  }
}

.optionsModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__option {
    width: 100%;
    font-size: 0.875rem;
    border-top: 1px solid variables.$lightGrey;
    &:first-child {
      border-top: none;
    }

    button {
      width: 100%;
      padding: 0.9rem 0;
      border: 0;
      color: inherit;
      background: transparent;
      &:hover {
        cursor: pointer;
      }
      &:active {
        background-color: variables.$lightGrey;
      }
    }

    &--red {
      color: variables.$red;
      font-weight: bold;
    }
  }
}
