@use '../../styles/variables' as v;
@use '../../styles/mixins' as m;

.post {
  $padding: 1rem;
  $gutterClr: rgba(v.$lightGrey, 0.5);

  display: flex;
  flex-direction: column;
  max-width: 58.4375rem;
  font-size: 0.875rem;
  background-color: white;

  a:link,
  a:visited {
    color: inherit;
  }

  &__image {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: v.$bgColor;
  }

  &__body {
    flex: 1;
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  &__header {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    padding: $padding;

    &--desktop {
      display: none;
    }
  }

  &__author {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    text-decoration: none;
    &:visited {
      color: black;
    }

    &__icon {
      font-size: 1.75rem;
      color: v.$grey;
    }

    &__username {
      font-weight: bold;
    }
  }

  &__optionsBtn {
    margin-left: auto;
    border: 0;
    background-color: transparent;
    &:hover {
      cursor: pointer;
    }
  }

  &__comments {
    padding: $padding;
    flex: 1 0 25vh;
    overflow: auto;
    border-bottom: 1px solid $gutterClr;

    ul {
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      row-gap: 1rem;
      list-style-type: none;
    }
  }

  &__nocomments {
    color: v.$grey;
  }

  &__footer {
    padding: $padding;
  }

  &__menu {
    font-size: 1.5rem;
  }

  &__likes {
    font-weight: bold;
  }

  &__timeDistance {
    font-size: 0.625rem;
    text-transform: uppercase;

    a {
      text-decoration: none;
      color: v.$grey;
      &:visited {
        color: v.$grey;
      }
      &:active {
        opacity: 0.5;
      }
    }
  }

  &__commentInput {
    padding: $padding;
    border-top: 1px solid $gutterClr;
  }

  @include m.breakpoint-up(desktop) {
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid v.$lightGrey;
    border-radius: 3px;

    &__header {
      display: none;

      &--desktop {
        display: flex;
        border-bottom: 1px solid $gutterClr;
      }
    }

    &__image {
      min-height: 28.125rem;
    }
  }
}

.comment {
  display: flex;
  column-gap: 0.5rem;

  &__icon {
    font-size: 1.75rem;
    color: v.$grey;
  }

  &__username {
    font-weight: bold;
    margin-right: 0.25rem;
  }

  &__timeDistance {
    font-size: 0.75rem;
    color: v.$grey;
  }
}
