@use '../../styles/mixins' as m;

.homePage {
  margin-top: 2rem;

  .authUser {
    display: none;
  }

  @include m.breakpoint-up(desktop) {
    display: flex;
    justify-content: center;
    gap: 2rem;

    .authUser {
      display: flex;
    }
  }
}
