@use '../../styles/variables';
@use '../../styles/mixins';

.loginPage {
  width: 80%;
  margin: 5rem auto;
}

.signUp {
  max-width: 22rem;
  padding: 0.5rem 0;
  margin: 1rem auto;
  text-align: center;

  &__link {
    color: variables.$blue;
    text-decoration: none;
    margin-left: 0.25rem;
  }
}

@include mixins.breakpoint-up(desktop) {
  .loginPage {
    width: 100%;
  }

  .signUp {
    border: 1px solid variables.$lightGrey;
    background-color: #fff;
  }
}
